<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992256058965-9vk837oqr0uspc33eoqvfike2iq7vvkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992256058965-9vk837oqr0uspc33eoqvfike2iq7vvkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAc9FOXOUNuVuiR8tmMeC0Lv_b4KVxM55Q</string>
	<key>GCM_SENDER_ID</key>
	<string>992256058965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coolooky.leqo</string>
	<key>PROJECT_ID</key>
	<string>swift-chat-fc4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-chat-fc4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992256058965:ios:249b4b4ce7f1bc2c5416dc</string>
</dict>
</plist>